<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/settings/categories']" detail>
      <ion-icon name="pricetags-outline" slot="start"></ion-icon>
      <ion-label>Manage Categories</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/settings/rules']" detail>
      <ion-icon name="construct-outline" slot="start"></ion-icon>
      <ion-label>Manage Automation Rules</ion-label>
    </ion-item>
  </ion-list>
</ion-content>