<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<ion-footer>
  <ion-toolbar>
    <div class="tab-bar">
      <a class="tab-button" [routerLink]="['/dashboard', currentAccountId$ | async]" routerLinkActive="active-tab">
        <ion-icon name="home"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </a>
      <a class="tab-button" [routerLink]="['/transactions', currentAccountId$ | async]" routerLinkActive="active-tab">
        <ion-icon name="list"></ion-icon>
        <ion-label>Transactions</ion-label>
      </a>
      <a class="tab-button" routerLink="/statistics" routerLinkActive="active-tab">
        <ion-icon name="pie-chart"></ion-icon>
        <ion-label>Statistics</ion-label>
      </a>
      <a class="tab-button" routerLink="/settings" routerLinkActive="active-tab">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </a>
      <a class="tab-button" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </a>
    </div>
  </ion-toolbar>
</ion-footer>
<app-notification></app-notification>