<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" (click)="closeMenu()">pxFi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" #navbarCollapse>
      @if (isLoggedIn$ | async) {
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/accounts" routerLinkActive="active" (click)="closeMenu()">Accounts</a>
          </li>
          @if (currentAccountId$ | async; as accountId) {
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard', accountId]" routerLinkActive="active" (click)="closeMenu()">Dashboard</a>
            </li>
          }
          @if (currentAccountId$ | async; as accountId) {
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/transactions', accountId]" routerLinkActive="active" (click)="closeMenu()">Transactions</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" routerLink="/statistics" routerLinkActive="active" (click)="closeMenu()">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/settings" routerLinkActive="active" (click)="closeMenu()">Settings</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="btn btn-outline-light" (click)="logout()">Logout</button>
          </li>
        </ul>
      }
    </div>
  </div>
</nav>