:host {
  ion-content {
    --background: #f4f5f8;
  }

  .transaction-item {
    --background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    --padding-start: 10px;
    --inner-padding-end: 10px;

    .transaction-icon {
      font-size: 24px;
      color: var(--ion-color-primary);
    }

    .transaction-description {
      font-weight: 500;
      white-space: normal;
    }

    .transaction-category {
      font-size: 0.8em;
      color: #666;
    }

    .transaction-amount {
      font-weight: bold;
      font-size: 1.1em;

      &.positive {
        color: var(--ion-color-success);
      }

      &.negative {
        color: var(--ion-color-danger);
      }
    }
  }

  .transaction-wrapper {
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 72px;
    overflow: hidden;
  }

  .category-editor {
    background-color: #f9f9f9;
  }

  ion-fab.custom-fab {
    margin-bottom: 65px;
    margin-left: 16px;
    z-index: 100;
  }
}